<h1><%= @user.name %>のページ</h1>

<p>メールアドレス: <%= @user.email %></p>

<% if @user.feeds.empty? %> 
  <p>投稿はありません</p>
<% else %>
      <%# user_idからfeedテーブルのレコードを取得し一つずつuserに入れる %>
      <%# feedにはfeedのレコードが入っている%>
  <% @user.feeds.each do |feed| %>
    <div class="card" >
      <div class="card-body">
        <span><%= feed.created_at.strftime("%m月%d日%H:%M") %></span>
        <p class="card-text"><%= feed.text %></p>         
      </div>
      <%= image_tag feed.image.url, class: "card-img-bottom" %>   
      <%= link_to '編集する', edit_feed_path(feed.id) %>
      <%= link_to '削除する', feed_path(feed.id), method: :delete, data: { confirm: 'Are you sure?' } %>
     </div>
  <% end %>
<% end %>
