<% if logged_in? %>
  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <!-- 画面サイズが小さい時に表示されるボタン -->
        <!-- data-targetにollapseを指定したdivのidを指定すること -->
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#collapse-id">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/feeds">FacebookClone</a>
        <p class="navbar-text navbar-right"><%= current_user.name %>でログイン中</p>
      </div>
    </div>
  </nav>
<% else %>
  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <!-- 画面サイズが小さい時に表示されるボタン -->
        <!-- data-targetにollapseを指定したdivのidを指定すること -->
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#collapse-id">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">FacebookClone</a>
      </div>
      <!-- idは、上記ボタンのdata-targetに指定したものと揃えること -->
      <div class="collapse navbar-collapse" id="collapse-id">
        <%= form_with(scope: :session, url: sessions_path, local: true) do |f| %>

          <table class="login-table">
            <tbody>
              <tr>
                <td><%= f.label :email %></td>
                <td><%= f.label :password %></td>
              </tr>
              <tr>
                <td><%= f.email_field :email %></td>
                <td><%= f.password_field :password %></td>
                <td><%= f.submit "ログイン" %></td>
              </tr>
            </tbody>
          </table>
        <% end %>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>   
<% end %>   